{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": null,
    "property-no-unknown": null,
    "number-leading-zero": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "include"]
      }
    ],
    "unit-allowed-list": ["em", "rem", "s", "%", "vw", "vh", "px", "deg"]
  }
}
