@import 'src/styles/util';

.title {
  font-size: 2.5em;
  @include mobile {
    font-size: 1.8em;
  }
}

.card {
  border: #1f1f1f 1px solid;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  width: 35em;
  @include mobile {
    width: 17em;
  }

  div {
    &:first-of-type {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      justify-content: center;
      text-align: center;
      width: 40%;

      h4 {
        font-family: 'Roboto', serif;
        font-size: 0.9em;
        font-weight: 300;
        @include mobile {
          font-size: 0.6em;
        }
      }
    }

    &:last-of-type {
      width: 60%;

      * {
        font-weight: 300;
      }

      h2 {
        @include mobile {
          font-size: 1.1em;
        }
      }

      h3 {
        color: #878787;
        font-size: 0.95em;
        @include mobile {
          font-size: 0.8em;
        }
      }

      a {
        display: block;
        margin-top: 1em;
        @include mobile {
          margin-top: 0.6em;
        }
      }
    }
  }
}
