@import 'fonts';
@import 'Util.module';

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  pointer-events: auto;
  cursor: pointer;
  color: #65A1DE;
}

* {
  margin: 0;
  text-decoration: none;
  white-space: pre-wrap;
  font-family: "SF Pro JP Regular", "SF Pro Display Medium", serif;
  pointer-events: none;
  font-weight: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.monly {
  @include desktop {
    display: none;
  }
}

.donly {
  @include mobile {
    display: none;
  }
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.vcenter_child {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
}
