* {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #2b2b2f;
  font-family: 'SF Pro JP Regular', 'SF Pro Display Medium', serif;
  margin: 0;
  padding: 0;
}

a {
  color: #65a1de;
  cursor: pointer;
  pointer-events: auto;
  text-decoration: none;
}
