@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

* {
  color: whitesmoke;
  font-family: 'Sawarabi Gothic', serif;
  margin: 0;
  text-decoration: none;
  white-space: pre-wrap;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.desktop-only {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inherit;
  }
}

.mobile-only {
  @media screen and (max-width: 767px) {
    display: inherit;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
