@import "Util.module";
@import "Enum";

.header {
  position: fixed;
  height: $headerHeight;
  width: 100%;
  z-index: 99;
  display: flex;
  .logoSection {
    height: $headerHeight;
    width: $headerHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: white;
    .logo {
      height: 80%;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      //background-image: url("../../public/favicon.svg");
    }
  }
  .menuIcon {
    background-color: #363636;
    margin-left: auto;
    width: auto;
  }
  * {
    pointer-events: auto;
    cursor: pointer;
    color: white;
  }
}

.filter {
  position: fixed;
  width: 100%;
  margin-top: $headerHeight;
  height: 100vh;
  background-color: transparentize(white, 0.05);
  z-index: 99;
  @include desktop {
    width: 100%;
  }
}

.menu {
  margin-top: $headerHeight + 3em;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  text-align: right;
  a {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    display: inline;
    margin-right: 2em;
    margin-left: auto;
    width: auto;
    position: relative;
    font-size: 1.3em;
    line-height: 2.5em;
    color: white;
    padding: 0.2em;
    background-color: #363636;
    border-radius: 0.1em;
    &:first-of-type {
      background-color: #65A1DE;
    }
  }
}
