@import 'Util.module';
@import "Enum";

.title {
  width: 50em;
  height: 30em;

  @include mobile {
    width: 20em;
    height: 13em;
  }

  .textSection {
    z-index: 1;
    position: absolute;
    height: 3em;
    margin-top: 22em;
    margin-left: 2em;

    @include mobile {
      margin-left: 1em;
      margin-top: 8em;
    }

    div {
      span {
        padding: 0.2rem;
      }

      &:nth-of-type(1) {
        span {
          color: white;
          font-size: 0.7em;
          font-family: "SF Pro Display Ultralight", serif;
          background-color: #000;

          @include mobile {
            font-size: 0.5em;
          }
        }
      }

      &:nth-of-type(2) {
        margin-top: 0.7em;

        span {
          font-family: 'Noto Sans JP', sans-serif;
          font-weight: 900;
          font-size: 1.4em;
          background-color: #fff;

          @include mobile {
            font-size: 1em;
          }
        }
      }
    }
  }

  .filter {
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(1);

    * {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }

    .decoration {
      text-align: right;
      margin-left: auto;
      width: 70%;
      height: 100%;
      clip-path: polygon(73% 0, 100% 0, 100% 37%, 0% 100%);
      background-color: #1f1f1f;

      @include mobile {
        width: 50%;
        clip-path: polygon(62% 0, 100% 0, 100% 36%, 0% 100%);
      }

      h1 {
        width: 80%;
        color: #363636;
        font-size: 3em;

        @include mobile {
          font-size: 1.2em;
        }
      }
    }
  }
}
