@import 'Navbar.module';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.main {
  margin-right: auto;
  margin-left: auto;
  .outerBody {
    background-color: cadetblue;
  }
}
