@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');


.main {
  top: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  .navbar {
    margin-right: auto;
    margin-left: auto;
    .inner {
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      .logo {
        width: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .caption {
          width: 60%;
          margin-left: 4%;
          p {
            margin-left: 2%;
            font-family: 'Mate SC', serif;
            &:first-of-type {
              font-size: 120%;
              font-weight: bold;
            }
            &:last-of-type {
              text-transform: uppercase;
              font-size: 60%;
              letter-spacing: 4px;
            }
          }
        }
        img {
          object-fit: contain;
          min-width: 0;
          height: 40px;
        }
      }
      .shortcuts {
        width: 55%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        * > a {
          display: block;
          text-align: center;
          font-weight: lighter;
          font-size: 80%;
        }
      }
      .menuIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .menu {
    transition: 5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .content {
      margin-top: -12%;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      a {
        font-family: 'Noto Sans JP', sans-serif;
        padding-top: 4%;
        padding-bottom: 4%;
        font-size: 180%;
        display: block;
        text-align: center;
      }
    }
  }
}
