$maxMobileWidth: 767;

@mixin mobile {
  @media screen and (max-width: $maxMobileWidth * 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $maxMobileWidth + 1px) {
    @content;
  }
}

@mixin mobileOnly {
  @include desktop {
    display: none;
  }
}

@mixin desktopOnly {
  @include mobile {
    display: none;
  }
}

@mixin center {
  margin-right: auto;
  margin-left: auto;
}

@mixin vcenter_child {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

@mixin vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
