@import 'src/styles/util';
@import 'src/styles/home.module';

.card {
  @include center;
  width: 90%;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.titles {
  text-transform: uppercase;
  @include desktop {
    width: 30%;
  }

  * {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

  h1 {
    font-size: 2em;
    letter-spacing: 0.25em;
    @include mobile {
      font-size: 1.5em;
      letter-spacing: 0.15em;
      padding-bottom: 0.25em;
    }
  }

  h2 {
    font-size: 1em;
    letter-spacing: 0.25em;
    @include mobile {
      font-size: 0.8em;
      letter-spacing: 0.15em;
    }
  }
}

.content {
  letter-spacing: 0.025em;
  line-height: 1.8em;
  @include desktop {
    font-size: 1.1em;
    width: 65%;
  }
  @include mobile {
    font-size: 1em;
    margin-top: 0.5em;
  }

  nav {
    margin-top: 0.5em;

    span {
      padding: 0 1em;
    }
  }
}
