@import 'src/styles/util';
@import 'src/pages/home.module';

$topbar-width: 48px;

.controls {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menuBase {
  background-color: #313131;
  min-height: 100vh;
  position: fixed;
  right: 0;
  transition: 0.3s;
  z-index: 9;
}

.menu {
  background-color: #e5e5e5;
  margin-left: 100vw;
  min-height: 100vh;
  position: fixed;
  transition: 0.6s;
  width: 100vw;
  z-index: 9;
}

.contents {
  margin-top: $topbar-width * 2;
  text-align: center;
  @include desktop {
    margin-top: $topbar-width * 2.5;
  }

  a {
    color: #4c4c4c;
    display: block;
    font-size: 1.25em;
    margin-top: 2.5em;
    position: relative;
    @include desktop {
      font-size: 1.5em;
    }
  }
}

.backSection {
  background-color: #1f1f1f;
  height: $topbar-width;
  width: $topbar-width;

  div {
    @include center;
    @include vcenter;
    background-color: #fff;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 30%;
    transition: 0.1s;
    width: 50%;
  }
}

.menuButton {
  background-color: #1d1d1f;
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0% 100%);
  cursor: pointer;
  transform: rotate(270deg);
  transform-origin: right bottom;

  p {
    color: #fafafa;
    font-family: 'SF Pro Display Ultralight', serif;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    text-align: center;

    &:first-of-type {
      font-size: 0.8em;
      padding-top: 1.4rem;
    }

    &:nth-of-type(2) {
      font-size: 2.5em;
      letter-spacing: 0.08em;
      padding-bottom: 0.6rem;
      text-transform: uppercase;
    }
  }
}

.root {
  @include center;
  padding-top: $space-between-elements * 2;
  width: 50em;
  @include mobile {
    min-width: 15em;
    width: 80%;
  }
}

.footer {
  padding-top: $space-between-elements;
}
