@import 'src/styles/util';
@import 'src/pages/home.module';

.controls {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menuBase {
  background-color: #313131;
  min-height: 100vh;
  position: fixed;
  right: 0;
  transition: 0.3s;
  z-index: 9;
}

.menu {
  background-color: #e5e5e5;
  margin-left: 100vw;
  min-height: 100vh;
  position: fixed;
  transition: 0.6s;
  width: 100vw;
  z-index: 9;
}

.backSection {
  background-color: #1f1f1f;
  height: 48px;
  width: 48px;

  div {
    @include center;
    @include vcenter;
    background-color: #fff;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    height: 30%;
    transition: 0.1s;
    width: 50%;
  }
}

.menuButton {
  background-color: #1d1d1f;
}

.root {
  @include center;
  padding-top: $space-between-elements * 2;
  width: 50em;
  @include mobile {
    min-width: 15em;
    width: 90%;
  }
}

.footer {
  padding-top: $space-between-elements;
}
